<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th , td 
            {
                border: 2px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>
            var m = angular.module("uiet",[]);   		 
            m.controller("Items",function($scope){
                $scope.rec = 
                    [
                    {  
                        "name":"Chips",
                        "cost":20,
                        "total":0
					},
					{  
                        "name":"Cold Drink",
                        "cost":35,
                        "total":0
					},
					{  
                        "name":"Bread",
                        "cost":30,
                        "total":0
					},
                ];
                $scope.value=0;
                $scope.bill = function()
                {
                    $scope.value=1;
                    $scope.sum = 0;
                    $scope.summ = 0;
                    for(var i=0 ; i<$scope.rec.length;i++)
                    {
                        if($scope.rec[i].selected == true)
                        {
                            if($scope.rec[i].quantity == null)
                                {
                                    
                                    $scope.rec[i].total=$scope.rec[i].cost;
                                    $scope.sum = $scope.sum + $scope.rec[i].total;
                                }
                            else
                                {
                                    
                                    $scope.rec[i].total=$scope.rec[i].cost * $scope.rec[i].quantity;
                                    $scope.sum = $scope.sum + $scope.rec[i].total;
                                }
                        }
                        else
                        {
                            $scope.rec[i].total =0
                        }
                    } 
                }			
            });
        </script>
    </head>
    <body ng-app="uiet" ng-controller="Items">  	
	     <div>
             <table>
                <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                </thead>
             <tbody ng-repeat = "x in rec">
                 <tr>
                     <td>
                         <input type="checkbox"ng-model="x.selected">
                         {{x.name}}
                     </td>
                     <td>
                         <input type="number"ng-model="x.quantity">
                     </td>
                 </tr>
                 </tbody>
             </table>
             <button ng-click="bill()">Get Bill</button>
        </div>
        <div ng-if="value==1">
            <table>
                <thead>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Total</th>
                </thead>
                <tbody ng-repeat="x in rec" ng-if="x.total>0">
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.cost}}</td>
                        <td>{{x.total}}</td>
                    </tr>
                </tbody>
            </table>
            Your grand total is {{sum}}
        </div>
    </body>
</html>